.maps-list {
    min-height: calc(100vw - 700px);
    padding: 120px 0 48px 0;

    &__details {

        &__card {
            border-radius: 0px 0px 5px 5px;
            background-color: rgb(247, 238, 238);
            padding: 10px 10px;
            margin: 0px 0px 15px 0;

            &__title {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 12px 0 12px 0;
            }
    
            &__description {
                font-size: 12px;
                word-break: break-all;
            }

            &__actions {
                display: flex;

                button {
                    display: flex;
                    align-items: center;
                    margin: 16px 5px 0px 0px;
                    font-size: 12px;
                    font-weight: bold;
                    
                    mat-icon {
                        display: flex;
                        align-items: center;
                        margin-left: 6px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}