.maps-list {
    min-height: calc(100vw - 700px);
    padding: 120px 0 48px 0;

    &__details {
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 26px;
        -webkit-box-shadow: -6px 8px 15px -5px rgba(0,0,0,0.42); 
        box-shadow: -6px 8px 15px -5px rgba(0,0,0,0.42);

        &__preview {
            margin: 0;
            padding: 0;
            
            img {
                padding: 0;
                margin: 0px 0 -8px 0;
            }
        }
        
        &__card {
            background-color: rgb(247, 238, 238);
            padding: 10px 10px;
            margin: 0px 0px 0px 0px;

            &__title {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 12px 0 12px 0;
            }
    
            &__description {
                font-size: 12px;
                word-break: break-all;
            }

            &__actions {
                display: flex;

                button {
                    display: flex;
                    align-items: center;
                    margin: 16px 5px 0px 0px;
                    font-size: 12px;
                    font-weight: bold;
                    cursor: pointer;
                    
                    mat-icon {
                        font-size: 16px;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}