<section class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header__box">
                    <div class="header__box__name">Dashboard <b>CS:GO</b></div>
                    <button class="header__box__ip"
                            (click)="copyCode()">
                            Server IP 
                            <mat-icon>
                                content_copy
                            </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
