.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 18px 0 18px 0;
    background-image: linear-gradient(blue, blueviolet);

    &__box {
        display: flex;
        justify-content: space-between;

        &__name {
            color: white;
            font-size: 24px;
            font-weight: 400;
            margin-top: 10px;
            text-transform: uppercase;
        }

        &__menu {
            color: white;
        }
    }
}