.header {
    position: fixed;
    width: 100%;
    padding: 18px 0 18px 0;
    background-color: blueviolet;

    &__name {
        color: white;
        font-size: 24px;
        font-weight: 400;
    }
}