.header {
    position: fixed;
    width: 100%;
    padding: 18px 0 18px 0;
    background-color: blueviolet;

    &__box {
        display: flex;
        justify-content: space-between;

        &__name {
            color: white;
            font-size: 24px;
            font-weight: 400;
            margin-top: 6px;
            text-transform: uppercase;
        }

        &__ip {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            text-transform: uppercase;
            font-weight: bold;

            mat-icon {
                font-size: 18px;
                margin-top: 4px;
            }
        }
    }
}