<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login__box">
                    <div class="login__box__title">
                        Dashboard <b>CSGO</b>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>User</mat-label>
                        <input  matInput 
                                placeholder="user" 
                                type="text">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input  matInput 
                                placeholder="password" 
                                type="password">
                    </mat-form-field>
                    <button mat-raised-button 
                            color="primary">
                            Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
