.login-in {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    background-image: linear-gradient(blue, blueviolet);
    height: 100%;

    &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 400px;
        height: 280px;
        border-radius: 5px;
        background-color: white;
        padding: 10px 30px;

        &__title {
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
            color: blueviolet;
        }
    }   
}